body, h1, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("styles.css");
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.login-container {
    background-color: black;
    border-radius: 20px;
    box-shadow: 0 7px 8px rgba(196, 11, 11, 0.1);
    padding: 80px;
    width: 250px;
    text-align: center;
}


.profile-image {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100px;
}


.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 5px;
    text-align: left;
}

.login-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form button {
    padding: 20px;
    background-color: #eee7e9;
    border: none;
    border-radius: 5px;
    color: #3d0734;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}